#run python script every minutes
0 */12 * * * /usr/local/bin/python /app/BDINFORMEENVENTOSALUMAULE.py
0 */12 * * * /usr/local/bin/python /app/BDPostVenta.py
0 */12 * * * /usr/local/bin/python /app/CargaAnticiposEEPP.py